* {
    box-sizing: border-box;
    font-family: 'nesma';
    color: rgb(105, 103, 102);

}
@font-face {
    font-family: 'nesma';
    src: url('../fonts/IBMPlexSansArabic-Medium.ttf');
    unicode-range: U+0-2f, U+40-10FFFF;
}
.container{
    width: 50% auto;
}
.color{
    margin-top: 0;
    height: 0.4rem;
    background: linear-gradient(to right, rgb(255, 208, 0) 2%, rgb(237, 196, 11) 15.5%,rgb(194, 144, 236) 62.5%, rgb(131, 98, 158) 75%);
    border-radius:0.3rem ;
}

