/* @media (max-width: 750px){
    .center{
        display: block;
    }
    .center1{
       width: 100%;


    }
    .firstimag img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: top;
        border-radius: 5px;
        display: block;
        margin-top: 1rem;

    }
     */

} 

